* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  
    --font-text: 'Inter', sans-serif;
    --font-titles: 'Space Grotesk', sans-serif;

    --bg-principal: #12131A;
    --bg-cards: #21222C;

    --text-principal: #F2F2F7;
    --text-secundario: #B4B7C9;

    --progress-bar: #D19BFF;
}

body{
    background-color: var(--bg-cards);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    display: block;
    width: 800px;
    height: auto;
    background-color: var(--bg-principal);
    border-radius: 10px;
    padding: 80px;
}

/* Estilos header */

header{
    display: flex;
    justify-content: space-between;
}

header div h2{
    color: var(--text-principal);
    margin-left: 13px;
    font-family: var(--font-text);
    font-weight: 400;
}

header div:first-of-type{
    display: flex;
    align-items: center;
}
header div:first-of-type img{
    display: flex;
    width: 40px;
}
header div:last-of-type{
    display: flex;
    align-items: center;
    justify-content: center;   
}

header div:last-of-type img{
    display: flex;
    width: 30px;  
}

.sun-button{
    display: flex;
    background-color: var(--bg-cards);
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos header */

/* Estilos check-box */

.first-sect textarea{
    width: 100%;
    height: 130px;
    resize: none;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-cards);
    padding: 13px;
    text-align: left;
    box-shadow: inset 0 0 0 2px #48444d
}

.first-sect textarea::placeholder{
    color: var(--text-principal);
    line-height: 22px;
    font-family: var(--font-text);
    font-size: 15px;
}

textarea:focus::placeholder {
    color: transparent;
}

textarea:focus {
    outline: none;
}

h1{
    font-family: var(--font-titles);
    color: var(--text-principal);
    font-size: 60px;
    display: flex;
    padding: 40px;
    text-align: center;
}

.controles-texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.controles-texto div input:last-of-type{
    margin-left: 15px;
}

.controles-texto div input{
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid;
    border-radius: 4px;
    color: var(--text-principal);
    cursor: pointer;
}
.controles-texto div input:checked{
    background-color: var(--progress-bar);
    
}

.controles-texto div label{
    margin-left: 4px;
    color: var(--text-principal);
    font-family: var(--font-text);
    font-weight: 150;
    font-size: 14px;
}

.controles-texto div p{
    color: var(--text-principal);
    font-family: var(--font-text);
    font-weight: 150;
    font-size: 14px;
}



/* Estilos check-box */